@font-face {
    font-family: 'jgs';
    src: url('webfonts/jgs.woff2') format('woff2'),
        url('webfonts/jgs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs7';
    src: url('webfonts/jgs7.woff2') format('woff2'),
        url('webfonts/jgs7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs5';
    src: url('webfonts/jgs5.woff2') format('woff2'),
        url('webfonts/jgs5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jgs9';
    src: url('webfonts/jgs9.woff2') format('woff2'),
        url('webfonts/jgs9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'authentic';
    src: url('webfonts/authentic-sans-60.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* body{
margin: 15px;
} */
html {
    filter: grayscale(100%);
}

div{
    position:absolute;
    font-family: sans-serif;
    /* font-family: 'jgs'; */
    font-family: 'authentic';
    padding-top: 10px;
    font-weight: lighter;
    font-size: 4rem;
    line-height: 1;
    border: 1px solid;
    border-color: black;
    background-color:rgb(219,177,41);
}

::-webkit-scrollbar{
    width: 0px;
}

#container {
    width: 700px;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border:none;
    z-index: 5;
}
.randomButton {
    position: absolute;
    font-size: .4rem;
}

@keyframes rotateBackAndForth {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.animated-div {
    overflow: hidden;
    left: 450px;
    top: 540px;
    width: 200px;
    height: 200px;
    border: none;
    z-index: 5;
    background-color: transparent;
    transform: rotate(15deg); /* Initial transform */
    animation: rotateBackAndForth 2s infinite; /* Adjust timing and iteration */
}

.animated-div img {
    width: 200px;
}

@keyframes subtleWiggle {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: var(--random-transform, translateX(0) translateY(0));
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}


.wiggle-div {
    animation: subtleWiggle 2s infinite;
    --random-transform: translateX(0) translateY(0); /* Default value */}